<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Watch stream: Quick Stream</title>
    </head>
    <body>
        <h1>Watch stream</h1>
        <video autoplay muted></video>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
        <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
        <script>
            const params = new URLSearchParams(window.location.search);
            const streamId = params.get("stream-id");

            const uid = uuidv4();

            const peer = new Peer(uid, {
                host: "/",
                path: "/peerjs",
                port: 443,
                secure: true,
            });

            const connection = peer.connect(streamId);
            connection.on("open", () => {
                console.log("open");
                connection.send("hello");
                connection.on("data", (data) => {
                    console.log(data);
                });
            });

            peer.on("call", (call) => {
                call.answer();
                call.on("stream", (stream) => {
                    const video = document.querySelector("video");
                    video.srcObject = stream;
                });
            });
        </script>
    </body>
</html>
